.container {
  width: fit-content;
  border-radius: 10px;
  font-family: "RotaBlack";
  background-color: #dcdce0;
  padding: 2px 30px 4px 20px;
  text-align: left;
}
h3 {
  margin-left: 3px;
  color: #2d2d2d;
  font-size: 21px;
}
.box {
  margin-top: -17px;
  display: flex;
  align-items: center;
}
.play {
  margin-top: 0px;
  margin-bottom: -22px;
  color: #5448c8;
  font-size: 90px;
}
.playbtn {
  margin: 0px 12px 0px 12px;
  padding: 3px 14px 3px 14px;
  margin-top: -50px;
  border-radius: 6px;
  font-family: "RotaMedium";
  background-color: #6dd0a5;
  color: white;
}
.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 20px;
}
.total p {
  margin-top: 30px;
  font-size: 14px;
  color: #999999;
}
.total h3 {
  margin-top: -5px;
  color: #999999;
}
